<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main>

        <h1>Welcome to Syed Database page</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">username</th>
            <th scope="col">day</th>
            <th scope="col">starttime</th>
            <th scope="col">endtime</th>
          </tr>
        </thead>
        <tbody>
        <% for(let i=0; i < users.length; i++) { %>
            <tr>
              <th scope="row"></th>
                <td><%= users[i].username %></td>
                <td><%= users[i].day %></td>
                <td><%= users[i].starttime %></td>
                <td><%= users[i].endtime %></td>
              </tr>
       <% } %>
            
        </tbody>
      </table>

  




    <%- include('./partials/footer') %>
</body>
</html>