<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <table>
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Day</th>
                    <th>Start time</th>
                    <th>End time</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < schedules.length; i++) { %>
                    <tr>
                        <td><%= schedules[i].user_id %></td>
                        <td><%= schedules[i].day %></td>
                        <td><%= schedules[i].start_at %></td>
                        <td><%= schedules[i].end_at %></td>
                    </tr>
               <% } %>
            </tbody>
        </table>
       
      
    </main>

     <!--Include Footer-->
</body>
</html>